.register-container {
  width: 100%;
  display: flex;
  overflow-x: hidden; 
  max-width: 100vw;
  overflow-y: auto; 
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #76885b;
}
.register-navlink {
  display: contents;
}
.register-image {
  width: 152px;
  height: 88px;
  object-fit: cover;
  text-decoration: none;
}
.register-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
.register-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.register-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.register-register {
  text-decoration: none;
}
.register-burger-menu {
  display: none;
}
.register-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.register-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.register-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.register-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.register-image1 {
  height: 2rem;
}
.register-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.register-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.register-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.register-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.register-form {
  width: 524px;
  height: 320px;
  margin: var(--dl-space-space-sixunits);
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: outset;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
}
.register-text {
  font-size: 30px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Inter";
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-unit);
}
.register-input {
  margin-top: var(--dl-space-space-unit);
  font-family: "Inter";
  margin-left: var(--dl-space-space-unit);
}
.register-input1 {
  margin-top: var(--dl-space-space-unit);
  font-family: "Inter";
  margin-left: var(--dl-space-space-unit);
}
.register-textinput {
  margin-top: var(--dl-space-space-unit);
  font-family: "Inter";
  margin-left: var(--dl-space-space-unit);
}
.register-textinput1 {
  margin-top: var(--dl-space-space-unit);
  font-family: "Inter";
  margin-left: var(--dl-space-space-unit);
}
.register-button {
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Inter";
  margin-right: var(--dl-space-space-unit);
  background-color: #abc386;
}
.register-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #76885b;
}
.register-container2 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.register-image2 {
  width: 200px;
  object-fit: cover;
}
.register-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.register-text3 {
  margin-left: 0px;
}
.register-text4 {
  margin-left: var(--dl-space-space-unit);
}
.register-text5 {
  margin-left: var(--dl-space-space-unit);
}
.register-text6 {
  margin-left: var(--dl-space-space-unit);
}
.register-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.register-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.register-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.register-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.register-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.register-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .register-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .register-nav {
    display: none;
  }
  .register-btn-group {
    display: none;
  }
  .register-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .register-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .register-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .register-text7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .register-header {
    padding: var(--dl-space-space-unit);
  }
  .register-mobile-menu {
    padding: 16px;
  }
  .register-footer {
    padding: var(--dl-space-space-unit);
  }
  .register-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .register-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .register-text7 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
